---
<<: !include common/base.yaml

logger:
  level: DEBUG

substitutions:
  device_name: "solar-router"
  device_comment:
    "Routes surplus solar power to a heating element to heat water or for space
    heating"

esphome:
  name: ${device_name}
  comment: ${device_comment}
  includes:
    - solar-router.h
  on_boot:
    priority: -10
    then:
      - lambda: |-
          dac_set_output_range(id(i2cbus), id(dac_addr_reg));
          dac_set_voltage(id(i2cbus), id(dac_addr_reg), 0.0);

esp32:
  board: esp32dev
  framework:
    type: esp-idf

button:
  - <<: !include common/button/restart.yaml

binary_sensor:
  - <<: !include common/binary_sensor/status.yaml

text_sensor:
  - <<: !include common/text_sensor/version.yaml
  - <<: !include common/text_sensor/wifi_info.yaml

sensor:
  - <<: !include common/sensor/uptime.yaml
  - <<: !include common/sensor/wifi_signal.yaml

  - platform: mqtt_subscribe
    id: grid_voltage
    topic: "dsmr/reading/phase_voltage_l1"
    unit_of_measurement: "V"
    internal: true

  - platform: mqtt_subscribe
    id: grid_power_returned_mqtt
    topic: "dsmr/reading/electricity_currently_returned"
    unit_of_measurement: "W"
    internal: true
    filters:
      - lambda: |-
          float power = x * 1000.0;  // convert kWh to W
          id(grid_power_returned) = power;
          return power;

  - platform: mqtt_subscribe
    id: grid_power_delivered_mqtt
    topic: "dsmr/reading/electricity_currently_delivered"
    unit_of_measurement: "W"
    internal: true
    filters:
      - lambda: |-
          float power = x * 1000.0;  // convert kWh to W
          id(grid_power_delivered) = power;
          return power;

  # - platform: template
  #   name: "Grid Power"
  #   id: grid_power
  #   unit_of_measurement: "W"
  #   lambda: |-
  #     return id(grid_power_delivered) - id(grid_power_returned);
  #   update_interval: '1s'

  - platform: template
    name: "Grid Power (test)"
    id: grid_power_sensor
    unit_of_measurement: "W"
    update_interval: '1s'
    lambda: |-
      float delivered = id(grid_power_delivered);
      float returned  = id(grid_power_returned);
      if (isnan(delivered)) delivered = 0.0;
      if (isnan(returned)) returned = 0.0;

      float gridpower = returned - delivered;
      id(grid_power) = gridpower;  // assign to global
      return gridpower;

  - platform: template
    name: "Load max power"
    id: load_max_power_sensor
    unit_of_measurement: "W"
    lambda: |-
      // Return the value of the global variable
      return id(load_max_power);

  - platform: template
    name: "Target load power"
    id: target_load_power_sensor
    unit_of_measurement: "W"
    update_interval: '1s'
    lambda: |-
      // Return the value of the global variable
      return id(target_load_power);

  # - platform: mqtt_subscribe
  #   id: grid_power_returned_mqtt
  #   # topic: "dsmr/reading/electricity_currently_returned"
  #   topic: "dsmr/reading/electricity_currently_delivered" # Test Topic
  #   unit_of_measurement: "W"
  #   internal: true
  #   filters:
  #     - lambda: |-
  #         float power = x * 1000.0;  // convert kWh to W
  #         id(grid_power_returned) = power;

  #         if (!id(manual_mode)) {
  #           route_power_to_load(
  #             id(i2cbus),
  #             id(dac_addr_reg),
  #             power,
  #             id(load_max_power),
  #             id(load_resistance),
  #             id(grid_voltage).state
  #           );
  #         }

  #         return power;


i2c:
  sda: 21
  scl: 22
  scan: true
  id: i2cbus

mqtt:
  broker: "mqtt.lan.stamx.nl"
  username: !secret mqtt_user
  password: !secret mqtt_password
  discovery: false

output:
  - platform: gpio
    id: ssr_relay_1
    pin: 25

globals:
  - id: dac_addr_reg
    type: uint8_t
    restore_value: false
    initial_value: "0x58"

  - id: dac_duty_cycle_reg
    type: uint8_t
    restore_value: false
    initial_value: "0x02"

  - id: grid_power_returned
    type: float
    restore_value: false
    initial_value: "0.0"

  - id: grid_power_delivered
    type: float
    restore_value: false
    initial_value: "0.0"

  - id: load_max_power
    type: float
    restore_value: true
    initial_value: "0.0"

  - id: grid_power
    type: float
    restore_value: true
    initial_value: "0.0"

  - id: load_resistance
    type: float
    restore_value: no
    initial_value: "26.5"

  - id: manual_mode
    type: bool
    initial_value: "false"

  - id: target_load_power
    type: float
    restore_value: false
    initial_value: '0.0'

  - id: pid_integral
    type: float
    restore_value: true
    initial_value: '0.0'
    
  - id: pid_error_prev
    type: float
    restore_value: true
    initial_value: '0.0'

  - id: pid_dt
    type: float
    restore_value: true
    initial_value: '1.0'

  - id: pid_Kp
    type: float
    restore_value: true
    initial_value: '0.1'

  - id: pid_Ki
    type: float
    restore_value: true
    initial_value: '0.3'

  - id: pid_Kd
    type: float
    restore_value: true
    initial_value: '0.05'
    
switch:
  - platform: template
    name: "Manual mode"
    id: manual_mode_switch
    restore_mode: "RESTORE_DEFAULT_OFF"
    optimistic: true
    turn_on_action:
      - lambda: |-
          id(manual_mode) = true;
          ESP_LOGI("mode", "Manual mode enabled");
    turn_off_action:
      - lambda: |-
          id(manual_mode) = false;
          ESP_LOGI("mode", "Auto mode enabled");

number:
  - platform: template
    name: "Load max power setpoint"
    id: load_max_power_setpoint
    min_value: 0
    max_value: 3680
    step: 1
    optimistic: true
    set_action:
      - lambda: |-
          id(load_max_power) = x;
          id(load_max_power_sensor).publish_state(id(load_max_power));
          ESP_LOGI("router", "Max router power set to %.0f W", x);

  - platform: template
    name: "${device_name}_power"
    id: power
    min_value: 0
    max_value: 3680
    step: 1
    optimistic: true
    set_action:
      - lambda: |-
          float power = x;
          if (id(manual_mode)) {
            route_power_to_load(
              id(i2cbus),
              id(dac_addr_reg),
              power,
              id(load_max_power),
              id(load_resistance),
              id(grid_voltage).state
            );
          }
          id(target_load_power) = power;  // store in global
          ESP_LOGI("router", "Power set to %.1f W", power);

interval:
  - interval: 1s
    then:
      - lambda: |-
          ESP_LOGD("PID", "grid_power=%.1f, target_prev=%.1f, dt=%.1f", id(grid_power), id(target_load_power), id(pid_dt));
          ESP_LOGD("PID", "Kp=%.2f, Ki=%.2f, Kd=%.2f", id(pid_Kp), id(pid_Ki), id(pid_Kd));
          ESP_LOGD("PID", "integral_prev=%.1f, error_prev=%.1f", id(pid_integral), id(pid_error_prev));

          if (isnan(id(target_load_power))) id(target_load_power) = 0.0;
          if (isnan(id(pid_integral))) id(pid_integral) = 0.0;
          if (isnan(id(pid_error_prev))) id(pid_error_prev) = 0.0;

          id(target_load_power) = pid_target_load_power(
              id(grid_power),
              id(target_load_power),
              id(load_max_power),
              id(pid_Kp),
              id(pid_Ki),
              id(pid_Kd),
              id(pid_dt),
              id(pid_integral),
              id(pid_error_prev)
          );
