---
<<: !include common/base.yaml

logger:
  level: DEBUG

substitutions:
  device_name: "solar-router"
  device_comment:
    "Routes surplus solar power to a heating element to heat water or for space
    heating"

esphome:
  name: ${device_name}
  comment: ${device_comment}
  includes:
    - solar-router.h
  on_boot:
    priority: -10
    then:
      - lambda: |-
          dac_set_output_range(id(i2cbus), id(dac_addr_reg));
          dac_set_voltage(id(i2cbus), id(dac_addr_reg), 0.0);

esp32:
  board: esp32dev
  framework:
    type: esp-idf

button:
  - <<: !include common/button/restart.yaml

binary_sensor:
  - <<: !include common/binary_sensor/status.yaml

text_sensor:
  - <<: !include common/text_sensor/version.yaml
  - <<: !include common/text_sensor/wifi_info.yaml

sensor:
  - <<: !include common/sensor/uptime.yaml
  - <<: !include common/sensor/wifi_signal.yaml

  - platform: mqtt_subscribe
    id: grid_power_returned_mqtt
    # topic: "dsmr/reading/electricity_currently_returned"
    topic: "dsmr/reading/electricity_currently_delivered" # Test Topic
    unit_of_measurement: "W"
    internal: true
    filters:
      - lambda: |-
          float power = x * 1000.0;  // convert kWh to W
          id(grid_power_returned) = w;

          if (!id(manual_mode)) {
            route_power_to_load(
              id(i2cbus),
              id(dac_addr_reg),
              power,
              id(load_max_power),
              id(load_resistance),
              id(grid_voltage),
            );
          }

          return power;

  - platform: mqtt_subscribe
    id: grid_voltage
    topic: "dsmr/reading/phase_voltage_l1"
    unit_of_measurement: "V"
    internal: true

  - platform: template
    name: "${device_name}_load_max_power"
    id: load_max_power_sensor
    unit_of_measurement: "W"
    lambda: |-
      // Return the value of the global variable
      return id(load_max_power);

  # - platform: template
  #   name: "${device_name}_load_routed_power"
  #   id: load_routed_power_sensor
  #   unit_of_measurement: "W"
  #   lambda: |-
  #     // Return the value of the power send to the
  #     return id();

i2c:
  sda: 21
  scl: 22
  scan: true
  id: i2cbus

mqtt:
  broker: "mqtt.lan.stamx.nl"
  username: !secret mqtt_user
  password: !secret mqtt_password
  discovery: false

output:
  - platform: gpio
    id: ssr_relay_1
    pin: 25

globals:
  - id: dac_addr_reg
    type: uint8_t
    restore_value: false
    initial_value: "0x58"

  - id: dac_duty_cycle_reg
    type: uint8_t
    restore_value: false
    initial_value: "0x02"

  - id: grid_power_returned
    type: float
    restore_value: false
    initial_value: "0.0"

  - id: load_max_power
    type: float
    restore_value: true
    initial_value: "0.0"

  - id: power_value
    type: float
    restore_value: true
    initial_value: "0.0"

  - id: load_resistance
    type: float
    restore_value: no
    initial_value: "26.5"

  - id: manual_mode
    type: bool
    initial_value: "false"

switch:
  - platform: template
    name: "${device_name}_manual_mode"
    id: manual_mode_switch
    restore_mode: "RESTORE_DEFAULT_OFF"
    optimistic: true
    turn_on_action:
      - lambda: |-
          id(manual_mode) = true;
          ESP_LOGI("mode", "Manual mode enabled");
    turn_off_action:
      - lambda: |-
          id(manual_mode) = false;
          ESP_LOGI("mode", "Auto mode enabled");

number:
  - platform: template
    name: "${device_name}_load_max_power_setpoint"
    id: load_max_power_setpoint
    min_value: 0
    max_value: 3680
    step: 1
    optimistic: true
    set_action:
      - lambda: |-
          id(load_max_power) = x;
          id(load_max_power_sensor).publish_state(id(load_max_power));
          ESP_LOGI("router", "Max router power set to %.0f W", x);

  - platform: template
    name: "${device_name}_power"
    id: power
    min_value: 0
    max_value: 3680
    step: 1
    optimistic: true
    set_action:
      - lambda: |-
          float power = x;

          if (id(manual_mode)) {
            route_power_to_load(
              id(i2cbus),
              id(dac_addr_reg),
              power,
              id(load_max_power),
              id(load_resistance),
              id(grid_voltage),
            );
          }

          return power;
