---
<<: !include common/base.yaml

substitutions:
  device_name: weather-station
  device_comment:
    "This ESP detects illuminance, temperature, pressure and relative humidity"

esphome:
  name: ${device_name}
  comment: ${device_comment}

esp32:
  board: nodemcu-32s

button:
  - <<: !include common/button/restart.yaml

binary_sensor:
  - <<: !include common/binary_sensor/status.yaml

text_sensor:
  - <<: !include common/text_sensor/version.yaml
  - <<: !include common/text_sensor/wifi_info.yaml

i2c:
  sda: 21
  scl: 22
  scan: false

sensor:
  - <<: !include common/sensor/uptime.yaml
  - <<: !include common/sensor/wifi_signal.yaml
  - platform: bh1750
    name: "${device_name}_illuminance"
    address: 0x23
    update_interval: 2s
  # - platform: bme280
  #   temperature:
  #     name: "${device_name}_temperature"
  #     id: bme280_temperature
  #   pressure:
  #     name: "${device_name}_pressure"
  #     id: bme280_pressure
  #   humidity:
  #     name: "${device_name}_relative_humidity"
  #     id: bme280_humidity
  #   address: 0x76
  #   update_interval: 60s
